
.c6{
    background-color: #5e17eb; /* Violet */
}
.c1{
    background-color: #03989e; /* Green */
}
.c2{
    background-color: #cb6ce6; /* Pink */
}
.c5{
    background-color: #004aad; /* blue */
}
.c4{
    background-color: #8c52ff; /* purple */
}
.c3{
    background-color: #5271ff; /* Light blue */
}


.f6{
    color: #5e17eb; /* Violet */
}
.f1{
    color: #03989e; /* Green */
}
.f2{
    color: #cb6ce6; /* Pink */
}
.f5{
    color: #004aad; /* blue */
}
.f4{
    color: #8c52ff; /* purple */
}
.f3{
    color: #5271ff; /* Light blue */
}
.f7{
    color: #122348; /* dark blue*/
}
h6 {
    font-family: 'Play';
    font-size: 46px;
}
body {
    background-color: #122348; /* dark blue*/
    color: #ffffff;
}
.btn-xl{
    padding:65px 130px
}
a {
    color:#FFFFFF
}
